html,body{
    height:100%;
}


@font-face {
    font-family: 'cardobold';
    src: url('../fonts/cardo-bold-webfont.woff2') format('woff2'),
         url('../fonts/cardo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
   font-family: 'cardobold';
    color: #fff;
}
p{
    margin-bottom: 0px;
}
a{
    text-decoration: none;
}
ul{
    padding-left:0px;
    margin-bottom:0px;
}
li{
    list-style: none;
}


.launch-container{
    background: url('../images/launch_background.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    padding: 50px;
}
.launch-container .outer-box {
    width: 900px;
    text-align: center;
}
.outer-box .logo {
    width: 120px;
    margin: auto;
    margin-bottom: 70px;
}
.outer-box h2 {
    font-size: 70px;
    border-top: solid 1px #7a7a7a;
    border-bottom: solid 1px #7a7a7a;
    padding: 15px 0px;
        margin-bottom: 70px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p {
    font-size: 35px;
    line-height: 37px;
    text-align: left;
}
.footer .right{
    width: 160px;
    margin-left: 20px;
}
a.launch-button {
    background-color: #922525;
    color: #fff;
    width: 430px;
    display: block;
    margin: auto;
    padding: 35px 0px;
    margin-bottom: 50px;
    font-size: 45px;
    border-radius: 10px;
    border: solid 1px #fff;
    transition: all 0.3s;
}
a.launch-button:hover {
    background-color: #4f1010;
    transition: all 0.3s;
}
@media screen and (max-width:991.5px){
    .outer-box h2 {
        font-size: 50px;
    }
    .launch-container .outer-box{
        width:630px;
    }
    .launch-container{
        background-position: center;
    }
}
@media screen and (max-width:767.5px){
    .outer-box .logo{
        width:90px;
    }
    .outer-box h2 {
        font-size: 42px;
        padding: 10px 0px;
    }
    .launch-container .outer-box {
        width: 500px;
    }
    .footer p {
        font-size: 28px;
        line-height: 30px;     
    }
    .footer .right {
        width: 120px;      
    }
}
@media screen and (max-width:551.5px){
    .launch-container .outer-box{
        width:100%;
    }    
}
@media screen and (max-width:468px){
    .outer-box h2{
        font-size: 35px;
    }
    .launch-container{
        padding: 20px;
    }
}


#countdown {
    position: absolute;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    transition: 1s;
    font-size: 0vw;
    opacity: 50%;
    color: #fff; 
  }
.container.counter-box {
    width: 800px;
    height: 800px;
}